@charset "UTF-8";

/* estilos para impressora */

*{
    margin: 5px;
    padding: 5px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    line-height: 1.1em;
}

menu {
    display: none;
}

article::after {
    content: "Notícia em forma de lorem impressa no meu exemplo do curso que estou fazendo."
}