@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image: url('fundo.jpg');
    background-position: right center;
    background-attachment: fixed;    
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 25px;
    font-variant: small-caps;
}

header > p {
    margin-top: 10px;
    padding-bottom: 25px;
}

main {
    max-width: 600px;
    min-width: 250px;
    min-height: 400px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.432);
    margin: 20px auto;
}

section{
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

section p {
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.24);
       
}

section a {
    padding: 5px;
    text-decoration: none;
    color: black;
}

section a:hover {
    color: rgb(121, 121, 121);    
    border-radius: 5px;
    transition-duration: .5s;
}

img {
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.24);
    }

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 8px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

footer a:hover {
    color: gray;
}
