@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

:root {
    --text-color: white;
    --bg-url: url(assets/bg-mobile.jpg);
    --borda-botao: rgb(255, 255, 255, .5);
    --back-botao: rgb(255, 255, 255, .1);
    --border-botao-hover: rgb(255, 255, 255); 
    --back-botao-hover: rgb(255, 255, 255, .05);
    --sol-lua: url(assets/sun.svg);
    --button-tema: -5.2%;
}

.light {
    --text-color: black;
    --bg-url: url(assets/bg-mobile-light.jpg);
    --borda-botao: rgb(0, 0, 0, .5);
    --back-botao: rgb(0, 0, 0, .1);
    --back-botao-hover: rgb(0, 0, 0, .05);
    --border-botao-hover: rgb(0, 0, 0);
    --sol-lua: url(assets/moon-stars.svg);  
    --button-tema: 5.2%;
}

@media screen and (min-width: 520px) {
    :root {
        --bg-url: url(assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(assets/bg-desktop-light.jpg);
    }
}

body {
    /*
    background-image: url(assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
            shorthand
    background: color image repeat position / size;
    */
    background: var(--bg-url) no-repeat top center /cover;
    height: 98vh;
}

#container {
    max-width: 360px;
    margin: 16px auto 0px;
    padding: 0px 24px;
}

#profile {
    text-align: center;
    padding: 20px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

#switch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--sol-lua) no-repeat center;
    border: none;
    border-radius: 50%;
    position: relative;
    left: var(--button-tema);
    z-index: 1;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--back-botao);
    border: 1px solid var(--borda-botao);
    border-radius: 9999px;
    position: absolute;
    z-index: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {
    display: flex;    
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 16px;
    background: var(--back-botao);
    border: 1px solid var(--borda-botao);
    border-radius: 10px;
    margin: 0px 20px;
    -webkit-backdrop-filter: blur(4px); /* aplica fitro de embassamento */
    transition: background .2s; /* aplica transição somente ao background */
}

ul li a:hover {
    border: 1.5px solid var(--border-botao-hover);
    background: var(--back-botao-hover);
}

#social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

#social-link ion-icon {    
    border-radius: 50%;
    padding: 10px;
    font-size: 25px;
    transition: background .2s;
}

#social-link ion-icon:hover {
    background: var(--back-botao);
}

footer {
    padding: 16px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
}