@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100hv;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative; 
    height: 100vh;
}

section#telefone {
    position: absolute; /* Centraliza a section dentro da main */
    width: 311px;
    height: 627px;

    left: 50%; /* Centraliza a section dentro da main */
    top: 50%;  /* Centraliza a section dentro da main */
    transform: translate(-50%, -50%); /* Centraliza o section dentro da main */
    
    background: url('../imagens/frame-iphone.png') no-repeat;
}

iframe#tela { /* posicionando a iframe na tela do celular */
    position: relative;
    top: 80px;  /* posição da iframe em relação ao topo da section*/
    left: 22px; /* posição da iframe em relação a lateral esquerda */
    width: 268px;  /* largura do iframe */
    height: 471px; /* Altura do iframe */
}

section#rsociais {
    text-align: right;
}

section#rsociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
    box-sizing: border-box; /* faz a borda "fazer parte" da imagem */
}

section#rsociais img:hover {
    border: 2px solid  rgba(255, 255, 255, 0.486);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.589);
    transition-duration: .5s;
}