@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#conteiner {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.conteudo {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    height: 80vh;
}
 iframe {
    width: 18vw;
    height: 61vh;
 }