@charset "UTF8";

/*
  em HTML é id -> em CSS é # (somente um elemento)
  em HTML é class -> em CSS é . "ponto" (pode vários elementos)
*/  

body {
    background-color: rgb(201, 248, 232);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

h1 {
    color: rgb(2, 85, 57);
}

h1#principal {
    text-align: center;
    background-color: rgb(2, 85, 57);
    color: white;
}

h2 {
    color: rgb(52, 114, 93);
}

.basico {
    color: rgb(52, 114, 93);
}

.intermediario {
    color: rgb(114, 108, 52);
}

.avancado {
    color: rgb(114, 52, 52);
}